body {
  background-color: gray;
}

.box {
  width: 391px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.box .head {
  width: 391px;
  height: 472px;
  background-image: url(Smart\ Fitness.png);
  background-color: #BFDBE9;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: center;
  align-items: start;
}
.box .head .btn {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.box .head .btn button {
  background: none;
  border: none;
}
.box .section {
  width: 391px;
  height: 1100px;
  background-color: #FFFFFF;
  border-radius: 40px;
  position: absolute;
  margin-top: 400px;
  overflow: hidden;
}
.box .section .sub-section {
  width: 391px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
.box .section .up {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box .section .up button {
  background: none;
  border: none;
  margin-top: 10px;
}
.box .section .text {
  width: 315px;
  height: 47px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box .section .text h5 {
  font-size: 16px;
  font-weight: 700;
  color: #1d1617;
  margin: 0;
  padding: 0;
}
.box .section .text p {
  font-size: 12px;
  font-weight: 400;
  color: #7b6f72;
}
.box .section .text button {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 1px 2px 2px rgb(194, 193, 193);
}
.box .section .int1 {
  width: 315px;
  height: 50px;
  background: linear-gradient(to right, #9DCEFF, #92A3FD);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box .section .int1 input {
  width: 109px;
  height: 18px;
  background: none;
  color: #7b6f72;
  font-size: 12px;
  outline: none;
  border: none;
}
.box .section .int1 button {
  width: 100px;
  height: 15px;
  background: none;
  color: #7b6f72;
  font-size: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .section .int2 {
  width: 315px;
  height: 50px;
  background: linear-gradient(to right, #EEA4CE, #C58BF2);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box .section .int2 input {
  width: 109px;
  height: 18px;
  background: none;
  color: #7b6f72;
  font-size: 12px;
  outline: none;
  border: none;
}
.box .section .int2 button {
  width: 100px;
  height: 15px;
  background: none;
  color: #7b6f72;
  font-size: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .you {
  width: 420px;
  height: 197px;
  overflow: hidden;
}
.box .you .y2 {
  width: 315px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 29px;
}
.box .you .y2 h1 {
  font-size: 16px;
  font-weight: 600;
  color: #1d1617;
  margin: 0;
  padding: 0;
}
.box .you .y2 p {
  font-size: 12px;
  font-weight: 500;
  color: #ada4a5;
}
.box .you .box1 {
  width: 420px;
  height: 197px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box .you .box1 div {
  width: 130px;
  height: 130px;
  border-radius: 12px;
  background-color: #f7f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29px;
}
.box .you .box1 div p {
  position: absolute;
  margin-top: 200px;
  margin-left: -20px;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
.box .category {
  width: 315px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-left: 29px;
}
.box .category .y2 {
  width: 315px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .category .y2 h1 {
  font-size: 16px;
  font-weight: 600;
  color: #1d1617;
  margin: 0;
  padding: 0;
}
.box .category .y2 p {
  font-size: 12px;
  font-weight: 500;
  color: #ada4a5;
}
.box .category .sets {
  width: 311px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .category .sets button {
  border: none;
  background: none;
}
.box .category .sets .set1 {
  width: 140px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box .category .sets .set1 img {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.box .category .sets .set1 span {
  display: block;
  justify-content: center;
  align-items: center;
}
.box .category .sets .set1 span h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #1d1617;
}
.box .category .sets .set1 span p {
  font-size: 12px;
  color: #7b6f72;
  font-weight: 500;
}
.box .category .btn-s {
  width: 315px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .category .btn-s button {
  width: 315px;
  height: 60px;
  border-radius: 99px;
  background: linear-gradient(to right, #9DCEFF, #92A3FD);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 1px 1px 1px 1px rgba(149, 173, 254, 0.3019607843);
  border: none;
  position: absolute;
  margin-top: -200px;
}/*# sourceMappingURL=figma.css.map */